{% extends 'base.html' %}

{% block content %}
<h1>Questions</h1>

<section class="bg-white p-3 rounded shadow-lg">
    <a href="{% url 'core:question-create' %}">Ask a new Question</a>
    {% for question in object_list %}
    <article class="border-top mt-3">
        <div class="row pt-3 pb-3">
            <div class="col-2 d-flex flex-column text-end">
                <span>{{ question.vote_set.all|length }} Votes</span>
                <span>{{ question.answer_set.all|length }} Answers</span>
                <span>{{ question.views }} Views</span>
            </div>
            <div class="col-10">
                <p><a href="{% url 'core:question-detail' question.pk %}">{{ question.title }}</a></p>
                <div class="d-flex flex-row justify-content-between"> 
                    <div>
                        <div class="badge bg-primary">
                            python
                        </div>
                    </div>
                    
                    <a href="#">
                        {{ question.user }} asked {{ question.create_time }}
                    </a>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
    
</section>
{% endblock content %}